table {
    width: 650px;
}

.member-image {
    height: 48px;
    width: 48px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.member-avatars {
    display: flex;

    .member-avatar {
        height: 36px;
        width: 36px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}