<h1>Welcome to Taskilicious</h1>
<mat-list role="list">
  <h2>Choose a category</h2>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="ASC" (click)="filterByPriority(1)">A-Z</mat-option>
      <mat-option value="DESC" (click)="filterByPriority(-1)">Z-A</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-list-item
    role="listitem"
    *ngFor="let category of categories"
    [routerLink]="['categories', category.id]"
    >{{ category.name }}
    <mat-icon [routerLink]="['categories', 'edit', category.id]"
      >edit</mat-icon
    ></mat-list-item
  >
</mat-list>
<button
  mat-fab
  color="accent"
  aria-label="Icon button with an add icon"
  routerLink="/categories/create"
>
  <mat-icon>add</mat-icon>
</button>
