@import '.././categories/categories.component.scss';

.add-category {
  margin-top: 20px;
  text-align: center;
}

.team-member-image {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  img {
    height: 40px;
    margin-right: 5px;
    object-fit: cover;
    width: 40px;
  }
}
