@import '../../../../app.component.scss';

.container-inner {
  .category-inside-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    h6 {
      font-size: 18px;
    }
  }

  .add-category {
    cursor: pointer;
    font-size: 25px;
  }

  .table {
    margin-top: 30px;

    .edit-category {
      cursor: pointer;
    }
  }

  .text-end {
    text-align: end;
  }

  td {
    border-bottom: 1px solid transparent;
  }
}
